.secao4 {
  border: 1px solid rebeccapurple;
  background-color: #c7c7c7;
  margin: 0;
 
  padding: 5%;
  padding-top: 10% ;
}

.divisoes {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
 
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  
  @media (max-width: 480px) {
    .divisoes {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }
  
.s4-h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  word-spacing: 12%;
  text-align: center;
}
.s4-h2{
  font-size: 2rem;
  color: #95070c;
  margin-bottom: 1rem;
  text-align: center;

}

.s4-p {
  font-family: 'Labrada', serif;
  font-size: 1.2em;
  color: #939393;
  width: 70vw;
  margin: auto;
  text-align: center;
  padding-bottom: 7%;
}

.card {
    margin: auto;
    width: 100%;
    max-width: 320px;
    padding-top: 25.5%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid #f6f6f6;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.43em;
    animation: pulse 1s infinite;
  }
  .card__media {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    filter: blur(0);
    transform: scale(1.2) translateY(5%);
    transform-origin: center bottom;
    transition: transform 800ms ease-out, filter 800ms ease-out;
  }
  .card:hover .card__media {
    transform: scale(1.4) translateY(0);
    filter: blur(2px);
  }
  .card__media::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    
    content: "";
    display: block;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    
    opacity: 0.8;
  }
  .card__media img {
    width: 100%;
    height: 125%;
    display: block;
    object-fit: cover;
    object-position: top center;
  }
  .card__content {
    --padding : 1rem;
    bottom: 21px;
    position: relative;
    z-index: 2;
    width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--padding);
    color: white;
  }
  .card__wrapper{
    transform: translateY(120%);
    
    transition: transform 350ms ease-out;
  }
  .card__wrapper h2{
    margin: 0;
    transform: translateY(-100%);
    font-weight: 200;
    font-size: 2rem;
    line-height: 1.3em;
    
    transition: transform 150ms ease-out;
  }
  .card__wrapper a {
    
    background-color: white;
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-top: 6%;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  .card:hover .card__wrapper{
    transform: translateY(0);
  }
  .card:hover .card__wrapper h2{
    transform: translateY(0);
  }


  @media only screen and (max-width: 767px) {
    .card{
    margin-bottom: 5%;
    }
    .card h2{
      margin-bottom: 20%;
    }

  }